@model Polyteks.Katman.TefrikBildirim.Models.ImalatPartiSonuModel

@{
    ViewBag.Title = "PaketlemePartiSonuDuzenle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@if (TempData["Msg"] != null)
{
    <div class="custom-alerts alert alert-@TempData["class"] fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <h2>@Html.Raw(TempData["Msg"])</h2>
    </div>
}
@{
    string GrupAdi = "PAKETLEME PARTİ SONU DÜZENLE";

}


<div class="row">
    <div class="col-md-12 ">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> @GrupAdi</span>
                </div>
            </div>
            @using (Html.BeginForm("PaketlemePartiSonuDuzenle","Paketleme"))
            {
                @Html.HiddenFor(a=>a.PartiSonuDurumOzetCheckItem.PartiSonuTakip.PartiSonuTakipId)


        <div class="form-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label bold">PARTİ</label>
                        <div class="input-icon right">
                            @Html.TextBoxFor(a => a.PartiSonuDurumOzetCheckItem.PartiSonuTakip.PartiNo, new { @class = "form-control ", @onkeydown = "return false" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label bold">İŞ EMRİ</label>
                        <div class="input-icon right">
                            @Html.TextBoxFor(a => a.PartiSonuDurumOzetCheckItem.PartiSonuTakip.RefakatNo, new { @class = "form-control ", @onkeydown = "return false" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label bold">SİPARİŞ NO</label>
                        <div class="input-icon right">
                            @Html.TextBoxFor(a => a.PartiSonuDurumOzetCheckItem.PartiSonuTakipIzlenebilirlik.SiparisNo, new { @class = "form-control ", @onkeydown = "return false" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label bold">KAYIT</label>
                        <div class="input-icon right">
                            @Html.TextBoxFor(a => a.PartiSonuDurumOzetCheckItem.PartiSonuTakipIzlenebilirlik.KayitTarihi, new { @class = "form-control ", @onkeydown = "return false" })
                        </div>
                    </div>
                </div> 
                </div>
                <div class="form-group">
                    <div class="row">
                    <div class="col-md-3">
                        <label class="control-label bold">STOK ADI</label>
                        <div class="input-icon right">
                            @Html.TextBoxFor(a => a.PartiSonuDurumOzetCheckItem.PartiSonuTakipIzlenebilirlik.StokAdi, new { @class = "form-control ", @onkeydown = "return false" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label bold">STOK KODU</label>
                        <div class="input-icon right">
                            @Html.TextBoxFor(a => a.PartiSonuDurumOzetCheckItem.PartiSonuTakipIzlenebilirlik.StokKodu, new { @class = "form-control ", @onkeydown = "return false" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label bold">CARİ</label>
                        <div class="input-icon right">
                            @Html.TextBoxFor(a => a.PartiSonuDurumOzetCheckItem.PartiSonuTakipIzlenebilirlik.CariAdiSecili, new { @class = "form-control ", @onkeydown = "return false" })
                        </div>
                    </div>
                </div>
            </div>
                <div class="form-group">
                    <label class="control-label font-red-sunglo"><b>!! GÜNCEL DURUM !!</b></label>

                    <div class="input-icon right">
                        <div class="mt-radio-inline">
                            @foreach (var item in Model.PartiSonuTakipHareketleri)
                            {
                                string clasAdi = "";
                                if (item.PartiSonuTakipHareketTipi == Model.PartiSonuDurumOzetCheckItem.PartiSonuTakip.PartiSonuTakipHareketTipi)
                                {
                                    clasAdi = "font-green-soft bold";
                                }
                                <div class="col-md-3">


                                    <label class="mt-radio @clasAdi">
                                        @Html.RadioButtonFor(a => a.PartiSonuDurumOzetCheckItem.PartiSonuTakip.PartiSonuTakipHareketTipi, item.PartiSonuTakipHareketTipi) @item.PartiSonuTakipHareketAdi
                                        <span></span>
                                    </label>
                                </div>

                            }
                        </div>
                    </div>


                </div>
                <hr/>
                <div class="form-group">
                    <div class="row">
                        <h3 class="text-center bold">BOBİN-EK İŞLEM BÖLÜMÜ</h3>

                        <div class="col-md-12">
                            <table class="dtTable table table-bordered">
                                <thead>
                                <tr>
                                    <th class="text-center">
                                        #
                                    </th>
                                    @foreach (var item in Model.PartiSonuEkIslemTanimlari)
                                    {
                                        <th class="text-center" colspan="2">
                                            @item.PartiSonuEkIslemAdi.ToUpper()
                                        </th>
                                    }


                                </tr>
                                </thead>
                                <tbody>
                                @{
                                    int i = -1;

                                    foreach (var itt in Model.PartiSonuEkIslemItemlar)
                                    {
                                        i++;
                                        <tr>
                                            @Html.HiddenFor(a => a.PartiSonuEkIslemItemlar[i].Birim.BirimId)
                                            <td class="text-center">@itt.Birim.BirimAdi.ToUpper()</td>

                                            @{
                                                int j = -1;
                                                foreach (var item in itt.PartiSonuEkIslemler)
                                                {
                                                    j++;

                                                    @Html.HiddenFor(a => a.PartiSonuEkIslemItemlar[i].PartiSonuEkIslemler[j].PartiSonuEkIslemId)
                                                    @Html.HiddenFor(a => a.PartiSonuEkIslemItemlar[i].PartiSonuEkIslemler[j].BirimId)
                                                    @Html.HiddenFor(a => a.PartiSonuEkIslemItemlar[i].PartiSonuEkIslemler[j].PartiSonuEkIslemTipi)
                                                    <td>
                                                        <b>Bobin Sayısı</b>
                                                        <br/>
                                                        @Html.TextBoxFor(a => a.PartiSonuEkIslemItemlar[i].PartiSonuEkIslemler[j].GonderilecekBobinSayisi, new {@class = "form-control"})
                                                    </td>
                                                    <td>
                                                        <label class="mt-radio">
                                                            @Html.RadioButtonFor(a => a.PartiSonuEkIslemItemlar[i].PartiSonuEkIslemler[j].IslemDurumu, 0) İşlem Yok
                                                            <span></span>
                                                        </label>
                                                        <label class="mt-radio">
                                                            @Html.RadioButtonFor(a => a.PartiSonuEkIslemItemlar[i].PartiSonuEkIslemler[j].IslemDurumu, 1) İşlem için Gönderildi
                                                            <span></span>
                                                        </label>
                                                        <label class="mt-radio">
                                                            @Html.RadioButtonFor(a => a.PartiSonuEkIslemItemlar[i].PartiSonuEkIslemler[j].IslemDurumu, 2) Paketleme Alanına Geri Geldi
                                                            <span></span>
                                                        </label>

                                                    </td>
                                                }
                                            }


                                        </tr>
                                    }
                                }

                                </tbody>
                            </table>
                        </div>




                    </div>
                </div>

            </div>
                <div class="form-actions">
                    <button type="submit" class="btn blue btn-block">KAYDET</button>
                </div>
            }
            <br/>
            <a href="@Url.Action("PaketlemePartiSonuBekleyenListe","Paketleme",new{id=Model.PartiSonuDurumOzetCheckItem.PartiSonuTakip.PartiSonuTakipHareketTipi})" class="btn  yellow"><i class="fa fa-arrow-left"> GERİ</i></a>
        </div>
    </div>
</div>

