@model Polyteks.Katman.TefrikBildirim.Models.PaketlemeGunlukTalimatModel

@{
    ViewBag.Title = "PaketlemeGunlukTalimatAnaliz";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@if (TempData["Msg"] != null)
{
    <div class="custom-alerts alert alert-@TempData["class"] fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <h2>@Html.Raw(TempData["Msg"])</h2>
    </div>
}
@{
    string GrupAdi = "GÜNLÜK İMALAT ANALİZLERİ";


}

@section styles{

    <link href="~/Temalar/TarihSaat/bootstrap-datepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Temalar/Select/bootstrap-select.css" rel="stylesheet" />

}


<div class="row">
    <div class="col-md-12 ">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> @GrupAdi</span>
                </div>
            </div>

            @using (Html.BeginForm("PaketlemeGunlukTalimatAnaliz", "Paketleme"))
            {
          
                @Html.HiddenFor(a => a.GunlukTalimat.PaketlemeGunlukTalimatId)
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label"><b>PAKETLEME ALANI SEÇİMİ </b></label>
                        @Html.DropDownListFor(a => a.GunlukTalimatTipiId, Model.GunlukTalimatTipiDrop, "Seçim Yok", new { @class = "selectpicker show-tick form-control", @id = "dropPersonel2" })
                    </div>
                    <div class="col-md-3">
                        <label class="control-label"><b>TARİH SEÇİMİ </b></label>
                        <div class="input-icon right">
                            @Html.TextBoxFor(a => a.SecilenTarih, new { @class = "form-control tarih", @onkeydown = "return false" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label"><b>PARTİ SEÇİMİ </b></label>
                        @Html.DropDownListFor(a => a.PartiAnaKlasorId, Model.Partiler, "Seçim Yok", new { @class = "selectpicker show-tick form-control", @id = "dropPersonel" })
                    </div>
                    
                    <div class="col-md-3">
                        <label class="control-label"><b>TALİMAT BAŞLIĞI SEÇİMİ </b></label>
                        @*@Html.DropDownList("TalimatBaslik",ViewBag.TalimatBaslik as SelectList,"Lütfen Talimat Başlığı Seçiniz", new { @class = "form-control" })*@
                        @Html.DropDownListFor(a => a.TalimatBaslik, Model.Baslik, "Seçim Yok", new { @class = "selectpicker show-tick form-control", @id = "dropPersonel3" })
                    </div>


                </div>
                <br />
                <div class="row">
                    @{
                        int i = -1;
                        foreach (var item in Model.FiltreSecimleri)
                        {
                            i++;
                            @Html.HiddenFor(a => a.FiltreSecimleri[i].IdInt)
                            <div class="col-md-3">


                                <div class="mt-checkbox">
                                    <label class="mt-checkbox font-green-jungle">
                                        @Html.CheckBoxFor(a => a.FiltreSecimleri[i].SeciliMi) <b>@Model.FiltreSecimleri[i].Tanim</b>
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-block red-thunderbird"><b> KAYITLARI GÖSTER <i class="fa fa-book"></i></b></button>
                    </div>
                </div>
            }
            <hr />

            <hr />

            @if (Model.GunlukTalimatItemlar.Any())
            {
                <div class="row">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        #
                                    </th>
                                    <th class="text-center">
                                        TARİH
                                    </th>
                                    <th class="text-center">
                                        BAŞLIK
                                    </th>
                                    <th class="text-center">
                                        İÇERİK
                                    </th>
                                    <th class="text-center">
                                        KAYIT YAPAN
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int say = 0;
                                    foreach (var item in Model.GunlukTalimatItemlar)
                                    {
                                        say++;
                                        <tr>
                                            <td class="text-center">@say</td>
                                            <td class="text-center">@item.KayitTarihi.ToShortDateString()</td>
                                            <td class="text-center">@item.TalimatBaslik</td>
                                            <td class="text-center">@Html.Raw(item.TalimatIcerik)</td>
                                            <td class="text-center">@item.KayitYapanKulAdi</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <h2 class="text-center"> KAYIT BULUNAMADI YA DA SEÇİM YAPMADINIZ </h2>
            }
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Temalar/Select/bootstrap-select.js"></script>
    <script src="~/Temalar/TarihSaat/bootstrap-datepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="~/Temalar/TarihSaat/bootstrap-datepicker/js/bootstrap-datetimepicker.tr.js"></script>
    <script>
        $('.tarih').datetimepicker({
            language: 'tr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            format: "dd MM yyyy",
            inline: true
        });

    </script>
    <script>
        $('#dropPersonel').selectpicker({
            liveSearch: true,
            maxOptions: 1
        });
        $('#dropPersonel2').selectpicker({
            liveSearch: true,
            maxOptions: 1
        });
        $('#dropPersonel3').selectpicker({
            liveSearch: true,
            maxOptions: 1
        });
    </script>
}