@model Polyteks.Katman.DAL.Concrete.EntityFramework.Mrv_MalzemeDetay


@{
    ViewBag.Title = "YedekParcaTalepteBulun";
    Layout = "~/Views/Shared/Layout.cshtml";
    var data = ViewBag.data as Polyteks.Katman.DAL.Concrete.EntityFramework.ZzzMrvStokDetayTakip;
}
@if (TempData["Msg"] != null)
{
    <div class="custom-alerts alert alert-@TempData["class"] fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <h2>@Html.Raw(TempData["Msg"])</h2>
    </div>
}


<div class="row">
    <div class="col-md-20 ">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <h1><u><b>MAL TALEBİ OLUŞTURMA</b></u></h1>
                @if (ViewBag.Hata != null)
                {
                    <div class="text-danger">
                        <p><h2><b>@ViewBag.Hata</b></h2></p>
                    </div>
                }
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @*<div class="form-group">


            <div class="col-md-6">
                <b>STOK KODU :</b>  @Html.Label(stok.StokKodu.ToString()) <br />
                <b>STOK ADI :</b>    @Html.Label(stok.StokAdi.ToString())<br />
                <b>SEÇİLEBİLECEK MAXİMUM TALEP MİKTARI :</b>    @Html.Label(stok.Miktar1.Value.ToString("G29"))

                @Html.Label("KALİTE :" + stok.Kalite.ToString())<br />

        @Html.Label("SEÇİLEBİLECEK MAXİMUM TALEP MİKTARI :" + stok.Miktar.ToString())
            </div>
        </div>*@
                <table class="table table-hover table-bordered table-dark">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                <b>Stok Kodu</b>
                            </th>
                            <th>
                                <b> Stok Adı</b>
                            </th>   
                            <th>
                                <b> Talep Edilebilecek Maximum Miktar</b>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@data.StokKodu</td>
                            <td>@data.StokAdi</td>
                            <td>@data.Miktar1.Value.ToString("G29")</td>


                        </tr>

                    </tbody>
                </table>
                <div class="form-group">
                    <div class="col-md-6">

                        @*@Html.LabelFor(model => model.Miktar, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <b> MİKTAR</b>   @Html.EditorFor(model => model.Miktar, new { htmlAttributes = new { @class = "form-control" } })
                        <input type="button" id="max" value="Maximum Değer İçin Tıklayınız.." />
                        @Html.ValidationMessageFor(model => model.Miktar, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">

                        @*@Html.LabelFor(model => model.Miktar, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <b>AÇIKLAMA :</b>  <br /> @Html.TextAreaFor(model => model.Aciklama, new { @class = "form-control", @rows = 3 })
                        @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="TALEP OLUŞTUR" class="btn btn-danger" />
                    </div>
                </div>
            </div>
                }

                <div>
                    @Html.ActionLink("GERİ", "YedekParcaAmbariStokGoruntuleme", "Sevkiyat", htmlAttributes: new { @class = "btn btn-danger" })
                </div>
            </div>
            </div>
        </div>
    </div>

                <script>
    const buttonElement = document.getElementById('max');
    const txtElement = document.getElementById('Miktar');

    buttonElement.addEventListener('click', function () {
        txtElement.value = @(data.Miktar1.ToString());
    });
                </script>
