@*@model  IEnumerable<Polyteks.Katman.DAL.Concrete.EntityFramework.ZzzMrvStokDetayTakip>
    @{
        ViewBag.Title = "YedekParcaStokAmbar";
        Layout = "~/Views/Shared/Layout.cshtml";
    }

    @if (TempData["Msg"] != null)
    {
        <div class="custom-alerts alert alert-@TempData["class"] fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            <h2>@Html.Raw(TempData["Msg"])</h2>
        </div>
    }
    <div class="x_title">



        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-blue">

                    <div class="clearfix"></div>
                </div>
                <center>
                    <h2>
                        <b> YEDEK PARÇA AMBARI</b>
                    </h2>
                </center>
                <div class="x_content">
                    <div class="row">

                        <br />
                        <br />        <br />
                        <div class="col-md-9">

                            @Html.DropDownList("AmbarNo", (IEnumerable<SelectListItem>)ViewBag.aaa as SelectList, "--LÜTFEN AMBAR NUMARASI SEÇİNİZ--", new { @class = "form-control", id = "dropId" })

                        </div>
                        <div class="col-md-3">
                            <a href="javascript:" onclick="selectChange()" class="btn btn-info btn-block">Ambar Stoğu Getir</a>
                        </div>
                    </div>
                    <div id="alan-summary">

                    </div>
                    <div id="frm-summary">

                    </div>
                </div>
            </div>
        </div>
    </div>

    @section scripts
    {
        <script src="~/Scripts/jquery-3.0.0.js"></script>
        <script>
                function selectChange() {
                    var id = $("#dropId").val();
                    var alan = $("#alan-summary");
                    alan.empty();
                    var url = "/Sevkiyat/StokAmbarDetayTakip/" + id;
                    $.get(url,
                        function (data) {

                            alan.empty();
                            alan.append(data);
                            Yenile();
                        });

                }

        </script>


        <script>
                $('#MERVE').change(function () {
                    var stateid = $('#MERVE').val();
                    $.ajax({
                        url: '/Sevkiyat/StokAmbar',
                        type: 'GET',
                        datatype: 'JSON',
                        data: { State: stateid },
                        success: function (result) {
                            $('#AmbarNo').html('');
                            $('#AmbarNo').append($('<option>Make Selection</option>'));
                            $.each(result, function (i, item) {
                                $('#AmbarNo').append($('<option></option>').val(item.Value).html(item.Text));
                            });
                        }
                    });
                });
        </script>
    }*@

@*@model  Polyteks.Katman.DAL.Concrete.EntityFramework.ZzzMrvStokDetayTakip
@{
    ViewBag.Title = "YedekParcaStokAmbar";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@if (TempData["Msg"] != null)
{
    <div class="custom-alerts alert alert-@TempData["class"] fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <h2>@Html.Raw(TempData["Msg"])</h2>
    </div>
}

<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="ARA" class="form-control" />

        </div>
    </div>
</div>

<CENTER><h2><b>MAMÜL AMBARI STOK GÖRÜNTÜLEME</b></h2></CENTER>
<ul class="section-law">

    <li>@Html.ActionLink("TALEPLER", "MalzemeAnaListe", "Sevkiyat", htmlAttributes: new { @class = "btn btn-primary" }) </li>
</ul>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                <b>SIRA NO</b>
            </th>
            <th>
                <b>PARTİ NUMARASI</b>
            </th>
            <th>
                <b>STOK ADI</b>
            </th>
            <th>
                <b>KALİTE</b>
            </th>
            <th>
                <b>MİKTAR</b>
            </th>
            <th>
                <b>FİRMA</b>
            </th>
            <th>
                <CENTER><b>STOK DETAYLARI</b></CENTER>
            </th>
            <th>
                <CENTER><b>TALEPTE BULUN</b></CENTER>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int sayac = 0;
            foreach (var item in Model)
            {
                sayac++;
                <tr class="Search">
                    <td>
                        <b> @sayac</b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmbarNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmbarAdi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StokKodu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StokAdi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Miktar1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OlcuBirimi1)
                    </td>
                
                </tr>
            }
        }
    </tbody>

</table>
<div>
    <h4> <b>TOPLAM MİKTAR:</b>   @Model.Sum(i => i.Miktar1)</h4>
</div>
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script>
    //LIVE SEARCH
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            })
        });
    });
</script>*@