@model IEnumerable<Polyteks.Katman.DAL.Concrete.EntityFramework.ZzzMrvStokDetayTakip>

@{
    ViewBag.Title = "YedekParcaStokAmbarDetay";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@if (TempData["Msg"] != null)
{
    <div class="custom-alerts alert alert-@TempData["class"] fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <h2>@Html.Raw(TempData["Msg"])</h2>
    </div>
}

<div class="row">
    <div class="col-md-20 ">
        <div class="portlet light bordered">
            <div class="portlet-title">

                <div style="display: flex; justify-content: flex-end">
                    <H5><b>TALEPLER</b></H5>

                </div>
                <div style="display: flex; justify-content: flex-end">
                    <a href="/Sevkiyat/Sepet/@(ViewBag.Tip)"> <img src="@Url.Content("~/Upload/shopping-basket-min.png")" alt="logo" class="logo-default" style="max-height: 70px; margin: 0px; max-width:30px; padding-top:5px;" /></a>
                    <label class="basket">
                        @Html.Action("TotalCount", new { id = ViewBag.Tip })
                    </label>
                </div>
                <center><h3><b>★ YEDEK PARÇA STOK DETAYLARI ★</b></h3></center>


                <div class="container">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                            <input type="text" id="Search" placeholder="ARA" class="form-control" />

                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>
                            SIRA NO
                        </th>

                        <th>
                            AMBAR ADI
                        </th>
                        <th>
                            STOK KODU
                        </th>
                        <th>
                            STOK ADI
                        </th>
                  
                        <th>
                            MİKTAR
                        </th>
                        <th>
                            BİRİM
                        </th>


                        <th>TALEPTE BULUN</th>
                    </tr>
                    @{
                        int sayac = 0;
                        foreach (var item in Model)
                        {
                            sayac++;
                            <tr class="Search">
                                <td><b>@sayac</b></td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.AmbarAdi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StokKodu)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StokAdi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Miktar1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OlcuBirimi1)
                                </td>


                                <td>
                                    @*<input type="button" value="TALEPTE BULUN" class="btn btn-primary" data-toggle="modal" data-target="#Modal1" onclick="ShowModelPopUp();" />*@
                                    <center> @Html.ActionLink("TALEPTE BULUN", "YedekParcaTalepteBulun", "Sevkiyat", new { id1 = item.StokKodu, id2 = item.Miktar1 }, htmlAttributes: new { @class = "btn btn-danger" })</center>
                                </td>
                            </tr>
                        }
                    }

                </table>
                <div>
                    <h4> <b>TOPLAM MİKTAR:</b>  <b id="toplamMiktarDegeri">  @Model.Sum(i => i.Miktar1)</b></h4>
                </div>
                <script src="~/Scripts/jquery-3.0.0.min.js"></script>
                <script>
                    //LIVE SEARCH
                    $(document).ready(function () {
                        function Contains(text_one, text_two) {
                            if (text_one.indexOf(text_two) != -1)
                                return true;
                        }
                        $("#Search").keyup(function () {
                            var searchText = $("#Search").val().toLowerCase();
                            $(".Search").each(function () {
                                if (!Contains($(this).text().toLowerCase(), searchText)) {
                                    $(this).hide();
                                }
                                else {
                                    $(this).show();
                                }
                            })
                        });
                    });
                </script>
                <style>
                    .basket {
                        background: #ea222f;
                        color: #fff;
                        font-size: 10px;
                        font-weight: 400;
                        position: absolute;
                        height: 16px;
                        width: 16px;
                        text-align: center;
                        line-height: 16px;
                        border-radius: 8px;
                    }
                </style>
                <script>
                    function numberWithCommas(x) {
                        x = x.replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                        return x;
                    }

                    //var calculation = 1231739216.34367;

                    var a = document.getElementById("toplamMiktarDegeri");
                    var number = numberWithCommas(a.textContent);
                    a.textContent = number;
                </script>
            </div>
</div>
</div>
</div>
