@model Polyteks.Katman.TefrikBildirim.Models.ImalatDenemeModel

@{
    ViewBag.Title = "DenemeDosyalari";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@if (TempData["Msg"] != null)
{
    <div class="custom-alerts alert alert-@TempData["class"] fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <h2>@TempData["Msg"]</h2>
    </div>
}
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-money"></i>

            <span class="caption-subject bold uppercase">DENEME & NUMUNE DOSYALARI</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            @foreach (var item in Model.Birimler.ToList())
            {

                string ClassAdi = "blue-hoki";
                if (Model.Birim.BirimId == item.BirimId)
                {
                    ClassAdi = "green-jungle";
                }

                <div class="col-md-3">
                    <a href="@Url.Action("DenemeDosyalari", "Imalat", new {id = item.BirimId})" class="btn btn-block  @ClassAdi">@item.BirimAdi.ToUpper() </a>

                </div>

            }
        </div>


        <hr />
        @if (Model.Birim.BirimId == 0)
        {
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center"><b>LÜTFEN BİRİM SEÇİNİZ</b></h3>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
             

                    <table class="dtTable table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    #
                                </th>
                                <th class="text-center">
                                    KOD
                                </th>
                                <th class="text-center">
                                    CARİ
                                </th>
                                <th class="text-center">
                                    KAYIT YAPAN
                                </th>

                                <th class="text-center">
                                   KAYIT TARİHİ
                                </th>
                            
                           
                                <th class="text-center">#</th>
                           
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int say = 0;

                                foreach (var item in Model.DenemeDosyalari)
                                {
                                    say++;
                                    <tr>
                                
                                        <td class="text-center"><b>@string.Format("#{0}", item.DenemeDosyaId)</b></td>
                                        <td class="text-center">@item.DenemeAdi</td>
                                        <td class="text-center">@item.CariAdi</td>
                                        <td class="text-center">@item.KayitYapanKulAdi</td>
                                      
                                        <td class="text-center">@item.OlusturmaTarihi</td>
                                        <td><a href="@Url.Action("DenemeDosyaDetay", "Imalat", new {id = item.DenemeDosyaId})" class="btn blue btn-block">İncele</a></td>
                                     
                                    </tr>
                                }
                            }

                        </tbody>

                    </table>
                </div>
            </div>
        }

    </div>
</div>

