@model Polyteks.Katman.TefrikBildirim.Models.UrgeModel

@{
    ViewBag.Title = "NumuneYapilabilirlikYorumOnaylari";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@if (TempData["Msg"] != null)
{
    <div class="custom-alerts alert alert-@TempData["class"] fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <h2>@TempData["Msg"]</h2>
    </div>
}
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-money"></i>

            <span class="caption-subject bold uppercase">NUMUNE DOSYALARI</span>
        </div>
    </div>


    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    @foreach (var item in Model.DosyaDurumlari)
                    {
                        if (item.DosyaDurumId != 8)
                        {


                            string classAdi = "btn dark btn-block ";
                            if (Model.DosyaDurumu.DosyaDurumId == item.DosyaDurumId)
                            {
                                classAdi = "btn red btn-block ";
                            }
                            <div class="col-md-6">
                                <a href="@Url.Action("NumuneYapilabilirlikYorumOnaylari", "Urge", new{id=item.DosyaDurumId})" class="@classAdi">@item.DosyaDurumAdi.ToUpper()</a>

                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">

                <table class="dtTable table table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center">
                            #
                        </th>
                        <th class="text-center">
                            KOD
                        </th>
                        <th class="text-center">
                            KAYIT
                        </th>

                        <th class="text-center">
                            PERSONEL
                        </th>
                        <th class="text-center">
                            CARİ
                        </th>
                        <th class="text-center">
                            GÜNCEL DURUM
                        </th>
                        <th class="text-center">#</th>

                    </tr>
                    </thead>
                    <tbody>
                    @{
                        int say = 0;

                        foreach (var item in Model.NumuneYapilabilirlikDosyalar)
                        {
                            say++;
                            <tr>
                                <td class="text-center">@say</td>
                                <td class="text-center"><b>@string.Format("#{0}", item.NumuneYapilabilirlikDosyaId)</b></td>
                                <td class="text-center">@item.KayitTarihi</td>
                                <td class="text-center">@item.KayitYapanKulAdi</td>
                                <td class="text-center">@item.CariAdi</td>
                                <td class="text-center">@item.DosyaDurumAdi</td>
                                <td><a href="@Url.Action("NumuneYapilabilirlikYorum", "Urge", new {id = item.NumuneYapilabilirlikDosyaId})" class="btn blue btn-block">İncele</a></td>


                            </tr>
                        }
                    }

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


