@model PolyBota.Web.Areas.Tanimlamalar.Models.TanimlamaKompTalimatModel
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">@Html.Raw(Model.KomponentTalimat.Id == 0 ? "YENİ KAYIT" : "KAYIT DÜZENLE")</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>



    @using (Html.BeginForm("KomponentTalimatEkleDuzenle", "KomponentTalimat"))
    {
        @Html.HiddenFor(a => a.KomponentTalimat.Id)
        @Html.HiddenFor(a => a.KomponentTalimat.KomponentTalimatGrupId)
        <div class="modal-body">
            
            @foreach (var grup in Model.TalimatGrupTanims)
            {
                <div class="row">
                   

                    <div class="col-md-12">
                        <div class="form-group">
                            <b>@grup.TalimatGrupTanimAdi</b>

                            <div class="row">
                                <div class="col-md-12">
                                    <hr/>
                                </div>
                                @foreach (var item in Model.TalimatTanims.Where(a => a.TalimatGrupTanimId == grup.Id))
                                {
                                    <div class="col-md-4">
                                        <label>@Html.RadioButtonFor(a => a.KomponentTalimat.TalimatTanimId, item.Id) @item.TalimatAciklama</label>
                                    </div>
                                }
                            </div>
                          
                        </div>
                    </div>



              
                </div>
            }
         
            <div class="col-md-12">

                <button type="submit" class="btn btn-block btn-success">KAYDET</button>

            </div>

        </div>
        <div class="modal-footer ">
            <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">KAPAT</button>

        </div>
    }



</div>