@model PolyBota.Web.Areas.Tanimlamalar.Models.TanimlamaKompTalimatModel

@{
    ViewBag.Title = "KomponentTalimatListe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-title">
    <div class="col-md-8 col-sm-12">
        <div class="col-md-6">
            <h5>Stok Grup Talimat  Liste</h5>

        </div>
        <Div class="col-md-6">
            <div class="btn btn-group" role="group">
                <button class="btn btn-success btn-sm"><i class="fa fa-reply-all"></i> Anasayfa</button>


            </div>
        </Div>

    </div>
    <div class="col-md-4 col-sm-12">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">

                    <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>

                    <li class="breadcrumb-item active" aria-current="page">Stok Grup Talimat Listesi</li>
                </ol>
            </nav>
        </div>
    </div>


</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Stok Grup Talimat Listesi</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-12">
                        <a href="@Url.Action("KomponentTalimatGrupDetay")" class="btn btn-success">Yeni Kayıt</a>
                    </div>
                    <div class="col-md-12 table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Tanım</th>
                                    <th>Periyot</th>
                                    <th>Stok Grubu</th>
                                    <th colspan="2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int t = 0;
                                    foreach (var item in Model.KomponentTalimatGrups)
                                    {
                                        t++;

                                        var per = "";
                                        var komp = "";

                                        if (Model.DropPeriyotlar.Any(a=>a.Id==item.PeriyotTanimId.ToString()))
                                        {
                                            per = Model.DropPeriyotlar.First(a => a.Id == item.PeriyotTanimId.ToString()).Tanim;
                                        }
                                        if (Model.DropKomponentler.Any(a=>a.Id==item.KomponentTanimId.ToString()))
                                        {
                                            komp = Model.DropKomponentler.First(a => a.Id == item.KomponentTanimId.ToString()).Tanim;
                                        }
                                        <tr>
                                            <td>@t</td>
                                            <td><b class="text-info">@item.KomponentTalimatGrupAdi</b></td>
                                            <td>@per</td>
                                            <td>@komp</td>
                                            

                                            <td><a href="@Url.Action("KomponentTalimatGrupDetay","KomponentTalimat",new{id=item.Id})" class="btn btn-dark btn-block">Düzenle</a></td>
                                            <td><a href="javascript:" onclick="ItemSil(@item.Id)" class="btn btn-danger btn-block">Sil</a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

