@using PolyBota.DAL
@using PolyBota.Helpers
@model PolyBota.Web.Areas.Yonetim.Models.TanimlamaModel

@{
    ViewBag.Title = "ModulListe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-save"></i>
                    Yönetim Modülü
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <blockquote>
                    <p>Kullanıcı Rolleri</p>
                </blockquote>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="pull-right m-1">

                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-0">
                    Kullanıcı Ekle
                </button>
                @Html.Partial("~/Areas/Yonetim/Views/Tanimlamalar/_UserEkle.cshtml", new User())
            </div>
            <div class="card-body">

                <table class="table table-bordered">
                    <thead>
                        <tr>


                            <th>İSİM SOYİSİM</th>
                            <th>KULLANICI ADI</th>
                            <th>PERSONEL KODU</th>
                            <th>ŞİFRE</th>
                            <th>YETKİLER</th>

                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.UserList)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.UserName</td>
                                <td>@item.PersonelCode</td>
                                <td>@item.Password</td>
                                <td>


                                    @foreach (var b in item.UserRoleIds.StrArrayeCevir("-"))
                                    {
                                        if (b != "")
                                        {
                                            if (Model.RoleTanimListe.Any(a => a.Id == Convert.ToInt32(b)))
                                            {
                                                var role = Model.RoleTanimListe.First(a => a.Id == Convert.ToInt32(b));
                                                <label class="badge badge-success">@role.RoleTanimAdi</label>
                                            }
                                        }

                                    }
                                </td>
                                <td class="text-center">
                                    <a href="@Url.Action("UserRoleDetay","Tanimlamalar",new{id=item.Id})" class="btn btn-info btn-block"> İncele</a>

                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
            </div>
        </div>
    </div>
</div>


