@model PolyBota.Web.Areas.Kart.Models.KartStokModel

@{
    ViewBag.Title = "StokKartListe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" value="@Model.PagedListSrcn.CurrentPage" id="currentPage" />


<div class="page-title">
    <div class="col-md-8 col-sm-12">
        <div class="col-md-6">
            <h5>Stok Kart Liste</h5>

        </div>
        <Div class="col-md-6">
            <div class="btn btn-group" role="group">

                <a class="btn btn-success btn-sm" href="/"><i class="fa fa-reply-all"></i> Anasayfa</a>


            </div>
        </Div>

    </div>
    <div class="col-md-4 col-sm-12">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">

                    <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>

                    <li class="breadcrumb-item active" aria-current="page">Stok Kart Listesi</li>
                </ol>
            </nav>
        </div>
    </div>


</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <div class="row">
                    <div class="col-md-3">
                        <a href="@Url.Action("StokKartDetay")" class="btn btn-danger">Yeni Kart Ekle</a>
                    </div>
                   
                    <div class="col-md-6">
                        <h2>
                            Stok Kart Listesi
                        </h2>
                    </div>
                </div>
             

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-3">
                        <b>Stok Grubu</b>
                        @Html.DropDownListFor(a => a.KatId, Model.KomponentTanimGrups.Select(a => new SelectListItem()
                        {
                            Text = a.KomponentTanimGrupAdi.ToString(),
                            Value = a.Id.ToString()
                        }), new { @class = "form-control", @id = "pageKatId", @onchange = "KategoriDegistir()" })
                    </div>


                    <div class="col-md-6">
                        <div class="">


                            <b>&nbsp;</b>
                            <ul class="pagination d-flex justify-content-center">
                                <li class="page-item">
                                    <a href="@Url.Action("StokKartListe", "Stok", new {@CurrentPage = 1, @PageShowCount = Model.PagedListSrcn.PageShowCount, @katId = Model.KatId})" aria-label="Previous" class="page-link">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                @foreach (var i in Model.PagedListSrcn.PageNumberList)
                                {
                                    string aktifClass = "";
                                    if (i == Model.PagedListSrcn.CurrentPage)
                                    {
                                        aktifClass = "active";
                                    }
                                    <li class="page-item @aktifClass"><a href="@Url.Action("StokKartListe", "Stok", new {@CurrentPage = i, @PageShowCount = Model.PagedListSrcn.PageShowCount, @katId = Model.KatId})" class="page-link">@i</a></li>

                                }

                                <li class="page-item">
                                    <a href="@Url.Action("StokKartListe", "Stok", new {@CurrentPage = -1, @PageShowCount = Model.PagedListSrcn.PageShowCount, @katId = Model.KatId})" aria-label="Next" class="page-link">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>



                    <div class="col-md-3">
                        <b>Gösterim Sayısı</b>
                        @Html.DropDownListFor(a => a.PagedListSrcn.PageShowCount,
                            Model.PagedListSrcn.PageSizeSelectList.Select(a => new SelectListItem() { Text = a.Tanim.ToString(), Value = a.Tanim.ToString() }),
                            new { @class = "form-control", @id = "pageshowCount", onchange = string.Format("GosterimDegistir({0})", Model.KatId) })
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 table-responsive">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Stok Tanım</th>
                                    <th>Bölüm</th>
                                  
                                    <th>Stok Grubu</th>
                                  
                                
                                    <th>Stok Kodu</th>
                                    <th>Seri No</th>
                                 
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int t = 0;
                                    if (Model.PagedListSrcn.CurrentPage > 1)
                                    {
                                        t = Model.PagedListSrcn.CurrentPage * Model.PagedListSrcn.PageShowCount;
                                    }

                                    foreach (var item in Model.StokKarts)
                                    {
                                        t++;

                                        string grup = "";

                                        if (Model.KomponentTanimGrups.Any(a => a.Id == item.KomponentTanimGrupId))
                                        {
                                            grup = Model.KomponentTanimGrups.First(a => a.Id == item.KomponentTanimGrupId).KomponentTanimGrupAdi;

                                        }


                                        string komp ="";
                                        string bolumAdi = "";
                                        if (Model.KomponentTanims.Any(a => a.Id == item.KomponentTanimId))
                                        {
                                            komp = Model.KomponentTanims.First(a => a.Id == item.KomponentTanimId).KomponentTanimAdi;
                                        }

                                        if (Model.Bolums.Any(a=>a.Id==item.BolumId))
                                        {
                                            bolumAdi = Model.Bolums.First(a => a.Id == item.BolumId).BolumAdi;
                                        }
                                        <tr>

                                            <td>@t</td>
                                            <td>@item.StokTanimAdi</td>
                                            <td>@bolumAdi</td>
                                            <td><b class="text-info">@komp</b>  <br /> (@grup)</td>
                                            
                                            <td>@item.StokKodu</td>
                                            <td>@item.SeriNo</td>
                                         
                                            <td><a href="@Url.Action("StokKartDetay", "Stok", new {id = item.Id})" class="btn btn-success btn-block">Düzenle</a></td>

                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function SayfayiYonlendir(PageshowCount, CurrentPage, katId) {


            var url = "/Kart/Stok/StokKartListe?";
            url += "CurrentPage=" + CurrentPage;
            url += "&PageShowCount=" + PageshowCount;
            url += "&katId=" + katId;

            window.location.href = url;

        }

        function GosterimDegistir(katId) {

            var PageshowCount = $("#pageshowCount").val();

            SayfayiYonlendir(PageshowCount, 1, katId);
        }
        function KategoriDegistir() {

            var katId = $("#pageKatId").val();
            var PageshowCount = $("#pageshowCount").val();

            SayfayiYonlendir(PageshowCount, 1, katId);
        }


    </script>
}