@model IEnumerable<Polyteks.Katman.DAL.Concrete.EntityFramework.Mrv_KaliteBildirimDetay>

@{
    ViewBag.Title = "_IsletmeKaliteBildirimPusulasi";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="row">
    <div class="col-md-20 ">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <center><h3><b> İŞLETME MÜDAHALESİ BEKLEYEN KALİTE BİLDİRİMLERİ</b></h3></center>
                <div class="container">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                            <input type="text" id="Search" placeholder="ARA" class="form-control" />

                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>


                            <th>
                                <b> BİLDİRİM TARİHİ</b>
                            </th>
                            <th>
                                <b>BÖLÜM</b>
                            </th>
                            <th>
                                <b>BİLDİRİM YAPAN</b>
                            </th>
                            <th >
                                <b>PARTİ NO</b>
                            </th>
                            <th>
                                <b> HATA TANIMI/1</b>
                            </th>
                            <th >
                                <b> HATA TANIMI/2</b>
                            </th>
                            <th>
                                <b> HATA TANIMI/3</b>
                            </th>
                            <th>
                                <b>BİLDİRİM YAPILAN BÖLÜM</b>
                            </th>
                            @*<th></th>*@
                            <th></th>


                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {

                <tr class="Search">

                    <td style="color: black">
                        <b> @Html.DisplayFor(modelItem => item.Mrv_KaliteBildirimAna.LabBildirimTarihi)</b>
                    </td>
                    <td style="color: black">
                        @Html.DisplayFor(modelItem => item.Mrv_KaliteBildirimAna.PersonelBolum)
                    </td>
                    <td style="color: black">
                        @Html.DisplayFor(modelItem => item.Mrv_KaliteBildirimAna.Personel)
                    </td>
                    <td style="color: black">
                        @Html.DisplayFor(modelItem => item.PartiNo)
                    </td>
                    <td style="color: black">
                        @Html.DisplayFor(modelItem => item.Mrv_KaliteBildirimHata.HataTanimi)
                    </td>
                    <td style="color: black">
                        @Html.DisplayFor(modelItem => item.Mrv_KaliteBildirimHata1.HataTanimi)
                    </td>
                    <td style="color: black">
                        @Html.DisplayFor(modelItem => item.Mrv_KaliteBildirimHata2.HataTanimi)
                    </td>
                    <td style="color: black">
                        @Html.DisplayFor(modelItem => item.Mrv_KaliteBildirimBolumleri.IsletmeBolumleri)
                    </td>
                    <td>
                        @*<center>@Html.ActionLink("SONUÇ GİR", "PoyIkazTekstureSonuc", new { id = item.ID }, new { @class = "btn btn-success" })</center>*@
                        <a href="@Url.Action("_IsletmeKaliteBildirimPusulasiDuzenle", "Laboratuvar",new { id = item.ID })" title="DÜZENLE" class="btn btn-info"> <i class="fa fa-pencil" aria-hidden="true">  </i></a>

                    </td>
                    <td >
                        @*@Html.ActionLink("SİL", "PoyIkazSil", new { id = item.ID }, new { @class = "btn btn-danger" })*@
                        <a href="@Url.Action("_IsletmeKaliteBildirimPusulasiSil", "Laboratuvar", new { id = item.ID })" title="SİL" class="btn btn-danger"><i class="fa fa-trash"></i></a>

                    </td>


                </tr>



                    }

                </table>

            </div>
</div>
</div>
</div>
