@model Polyteks.Katman.TefrikBildirim.Models.LaboratuvarModel

@{
    ViewBag.Title = "MusteriSikayetOnayDuzenle";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section styles{
    <style>
        .rdBuyut {
            font-weight: bold;
            font-size: 20px;
        }
    </style>
}

@if (TempData["Msg"] != null)
{
    <div class="custom-alerts alert alert-@TempData["class"] fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <h2>@Html.Raw(TempData["Msg"])</h2>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <a href="/Laboratuvar/MusteriSikayetOnaylar/@Model.DosyaDurumu.DosyaDurumId" class="btn yellow"><i class="fa fa-arrow-left"></i> GERİ</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase">MÜŞTERİ ŞİKAYETİ LABORATUVAR ANALİZ SONUÇLARI</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4><b>TAKİP KODU / TARİH: </b> <b class="font-red-thunderbird">@string.Format("#{0} / {1}", Model.MusteriSikayetDosya.MusteriSikayetDosyaId, Model.MusteriSikayetDosya.KayitTarihi)</b></h4>
                </div>
                <div class="col-md-6">
                    <h4><b>ANALİZ DURUMU: </b> <b class="font-red-thunderbird">@string.Format("{0}", Model.MusteriSikayetDosya.DosyaDurumAdi)</b></h4>
                </div>
                <div class="col-md-6">
                    <h4><b>CARİ: </b><b class="font-red-thunderbird">@string.Format("{0}", Model.MusteriSikayetDosya.CariAdi)</b></h4>
                </div>
                <div class="col-md-6">
                    <h4><b>KAYIT YAPAN: </b><b class="font-red-thunderbird">@string.Format("{0}", Model.MusteriSikayetDosya.KayitYapanKulAdi)</b></h4>
                </div>
                <div class="col-md-6">
                    <h4><b>PARTİ NO: </b><b class="font-red-thunderbird">@string.Format("{0}", Model.MusteriSikayetDosya.PartiNo)</b></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label"><b>SATIŞ AÇIKLAMASI</b></label>
                    <div class="input-icon right">
                        @Html.TextAreaFor(a => a.MusteriSikayetDosya.Aciklama, new { @class = "form-control", @rows = 5, @readonly = true })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label"><b>LABORATUVAR AÇIKLAMASI</b></label>
                    <div class="input-icon right">
                        @Html.TextAreaFor(a => a.MusteriSikayetDosya.LabAciklama, new { @class = "form-control", @rows = 5, @readonly = true })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label"><b>İŞLETME AÇIKLAMASI</b></label>
                    <div class="input-icon right">
                        @Html.TextAreaFor(a => a.MusteriSikayetDosya.IsletmeAciklama, new { @class = "form-control", @rows = 5, @readonly = true })
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(a => a.MusteriSikayetDosya.MusteriSikayetDosyaId)

                    int i = -1;


                    foreach (var Tablo in Model.DosyaMusteriLabAnalizTablo)
                    {
                        i++;

                        if (Tablo.LabAnaliz.AnaliziYapilanBilesenSayisi != 2)
                        {

                            <div class="col-md-6">
                                <div class="row">
                                    <h3 class="text-center font-green-jungle"><b>BOBİNLER  </b></h3>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5><b>ANALİZ KODU </b><b class="font-red-thunderbird">@string.Format("#{0}", Tablo.LabAnaliz.LabAnalizId)</b></h5>
                                    </div>
                                    <div class="col-md-6">
                                        <h5><b>ANALİZ TİPİ </b><b class="font-red-thunderbird">@string.Format("BOBİN ANALİZİ")</b></h5>
                                    </div>
                                </div>

                                <table class="dtTable table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                ANALİZ
                                            </th>
                                            @foreach (var aa in Tablo.AtkiTablo.LabAnalizItemlar)
                                            {
                                                <th class="text-center">
                                                    @aa.BobinAdi
                                                </th>
                                            }

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{

                                            int j = -1;
                                            foreach (var TabloSatir in Tablo.AtkiTablo.DosyaLabAnalizTabloSatirlar)
                                            {
                                                j++;
                                                var k = -1;
                                                <tr>
                                                    <td class="text-center">@TabloSatir.LabAnalizCesit.LabAnalizCesitAdi</td>
                                                    @foreach (var sutun in TabloSatir.LabAnalizItemAnalizCesitSonuclari)
                                                    {
                                                        k++;
                                                        string degertipiClass = "form-control decSayi";
                                                        if (TabloSatir.LabAnalizCesit.DegerTipi == 1)
                                                        {
                                                            degertipiClass = "form-control";
                                                        }

                                                        <td class="text-center">
                                                            @Html.HiddenFor(a => a.DosyaMusteriLabAnalizTablo[i].AtkiTablo.DosyaLabAnalizTabloSatirlar[j].LabAnalizItemAnalizCesitSonuclari[k].LabAnalizItemAnalizCesitId)
                                                            @Html.HiddenFor(a => a.DosyaMusteriLabAnalizTablo[i].AtkiTablo.DosyaLabAnalizTabloSatirlar[j].LabAnalizItemAnalizCesitSonuclari[k].LabAnalizCesitId)
                                                            @Html.HiddenFor(a => a.DosyaMusteriLabAnalizTablo[i].AtkiTablo.DosyaLabAnalizTabloSatirlar[j].LabAnalizItemAnalizCesitSonuclari[k].LabAnalizItemId)

                                                            <b>@Model.DosyaMusteriLabAnalizTablo[i].AtkiTablo.DosyaLabAnalizTabloSatirlar[j].LabAnalizItemAnalizCesitSonuclari[k].AnalizDegeriString</b>


                                                        </td>
                                                    }
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            // "KUMAŞ ANALİZİ";

                            <div class="col-md-6">
                                <div class="row">
                                    <h3 class="text-center font-green-jungle"><b>KUMAŞ </b></h3>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5><b>ANALİZ KODU </b><b class="font-red-thunderbird">@string.Format("#{0}", Tablo.LabAnaliz.LabAnalizId)</b></h5>
                                    </div>
                                    <div class="col-md-6">
                                        <h5><b>ANALİZ TİPİ </b><b class="font-red-thunderbird">@string.Format("KUMAŞ ANALİZİ")</b></h5>
                                    </div>
                                </div>

                                <table class="dtTable table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                ANALİZ
                                            </th>
                                            @foreach (var aa in Tablo.AtkiTablo.LabAnalizItemlar)
                                            {
                                                <th class="text-center">
                                                    @aa.BobinAdi
                                                </th>
                                            }

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{

                                            int j = -1;
                                            foreach (var TabloSatir in Tablo.AtkiTablo.DosyaLabAnalizTabloSatirlar)
                                            {
                                                j++;
                                                var k = -1;
                                                <tr>
                                                    <td class="text-center">@TabloSatir.LabAnalizCesit.LabAnalizCesitAdi</td>
                                                    @foreach (var sutun in TabloSatir.LabAnalizItemAnalizCesitSonuclari)
                                                    {
                                                        k++;
                                                        string degertipiClass = "form-control decSayi";
                                                        if (TabloSatir.LabAnalizCesit.DegerTipi == 1)
                                                        {
                                                            degertipiClass = "form-control";
                                                        }

                                                        <td class="text-center">
                                                            @Html.HiddenFor(a => a.DosyaMusteriLabAnalizTablo[i].AtkiTablo.DosyaLabAnalizTabloSatirlar[j].LabAnalizItemAnalizCesitSonuclari[k].LabAnalizItemAnalizCesitId)
                                                            @Html.HiddenFor(a => a.DosyaMusteriLabAnalizTablo[i].AtkiTablo.DosyaLabAnalizTabloSatirlar[j].LabAnalizItemAnalizCesitSonuclari[k].LabAnalizCesitId)
                                                            @Html.HiddenFor(a => a.DosyaMusteriLabAnalizTablo[i].AtkiTablo.DosyaLabAnalizTabloSatirlar[j].LabAnalizItemAnalizCesitSonuclari[k].LabAnalizItemId)

                                                            <b>
                                                                @Model.DosyaMusteriLabAnalizTablo[i].AtkiTablo.DosyaLabAnalizTabloSatirlar[j].LabAnalizItemAnalizCesitSonuclari[k].AnalizDegeriString
                                                            </b>


                                                        </td>
                                                    }
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>


                        }





                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-12">


                                <div class="progress-info">
                                    <div class="progress">
                                        <span style="width: 100%;" class="progress-bar progress-bar-success green-sharp">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    if (Model.MusteriSikayetDosya.DosyaDurumId > 31 && Model.MusteriSikayetDosya.DosyaDurumId < 34)
                    {
                        <h3>GÜNCEL DURUM <b>@Model.MusteriSikayetDosya.DosyaDurumAdi</b></h3>
                    }
                    else
                    {
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label"><b>ANALİZ DURUMU</b></label>
                                    <div class="input-icon right">
                                        <div class="input-icon right">
                                            <div class="mt-radio-inline">
                                                @foreach (var aa in Model.DosyaDurumlari)
                                                {
                                                    string rdClass = "mt-radio font-red-sunglo uppercase rdBuyut";
                                                    <label class="@rdClass">
                                                        @Html.RadioButtonFor(a => a.MusteriSikayetDosya.DosyaDurumId, aa.DosyaDurumId) @aa.DosyaDurumAdi
                                                        <span></span>
                                                    </label>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-lg red-thunderbird btn-block"><i class="fa fa-floppy-o"></i> KAYDET</button>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="~/Temalar/Scripts/jquery.decimalMask.js"></script>
    <script>
        $(function () {
            $('.decSayi').decimalMask('-9999,99');
        });
    </script>
}

